body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.square {
    width: 100px;
    height: 100px;
    background-color: #74aee8; 
    transition: transform 1s ease-in-out; 
}

.square:hover {
    animation: moveSquare 3s forwards; 
}

@keyframes moveSquare {
    0% {
        transform: translateX(0) translateY(0); 
    }
    33% {
        transform: translateX(200px) translateY(0); 
    }
    66% {
        transform: translateX(200px) translateY(200px); 
    }
    100% {
        transform: translateX(0) translateY(200px); 
    }
}
